DIV.resultsBar .orderBy,BODY, FORM {
	margin: 0px;
	padding: 0px;
}
UL{
	list-style-type: none;
}
DIV.top {
	clear: both;
	height: 54px;
	padding: 1px 1px 6px;
	position: relative;
}
DIV.parent {
	float: left;
	margin-right: 14px;
	width: 77px;
}
DIV.identification {
	width: 500px;
}
DIV.identification H1, DIV.identification H2 {
	margin: 0px;
}
DIV.otherVersions {
	position: absolute;
	right: 6px;
	text-align: right;
	top: 5px;
}
DIV.otherVersions A {
	margin-left: 10px;
}
DIV.otherVersions A IMG {
	margin-right: 7px;
}
DIV.feedback {
	position: absolute;
	right: 180px;
	text-align: right;
	top: 3px;
}
DIV.resourcesArea {
	position: absolute;
	right: 200px;
	text-align: right;
	top: 3px;
}
DIV.content {
	clear: both;
	padding: 6px 6px 6px 6px;
}
DIV.search DIV.informationTypes {
	padding-left: 50px;
}
DIV.search DIV.informationTypes A {
	display: -moz-inline-box;
	display: inline-block;
	margin-right: 25px;
	padding: 5px 0px;
}
DIV.search DIV.searchForm {
	padding: 4px 10px;
	text-align: center;
}
DIV.search DIV.searchForm *.inputText, DIV.search DIV.searchForm *.submit {
	vertical-align: middle;
	padding: 2px;
}
DIV.search DIV.searchForm INPUT.inputText {
	width: 28%;
}
DIV.search DIV.searchForm SELECT.inputText {
	padding: 2px 2px 2px 4px;
	width: 180px;
	_width: 170px;
}
DIV.search DIV.searchForm INPUT.submit {
	padding: 2px 3px;
	_padding: 2px 3px;
	*padding: 2px 3px;
}
DIV.resultNavigation {
	float: right;
	margin: 5px 0px;
	padding: 2px;
	width: 100%;
}
DIV.resultsBar {
	border-bottom: 2px solid #DFF8CC;
	border-top: 2px solid #DFF8CC;
	float: right;
	margin: 0px 0px 4px 0px;
	padding: 5px 0px;
	width: 100%;
}

DIV.resultsBar DIV {
	float: left;
}

.resultsBar .optionsGroup1, .resultsBar .optionsGroup2 {
	height: 30px;
	}
.resultsBar .optionsGroup1 {
	width: 495px;
	*width: 500px;
}
.resultsBar .optionsGroup2 {
	width: 270px;
	*width: 300px;
}
.resultsBar .optionsGroup2 div {
	margin-right: 2px;
}

DIV.resultsBar .orderBy, DIV.resultsBar .format, DIV.resultsBar .feed, DIV.resultsBar .email , DIV.resultsBar .print {
	margin-left: 0.5%;
}
DIV.resultsBar .orderBy, DIV.resultsBar .format, DIV.resultsBar .feed {
	margin-top: 3px;
}
.feed a {
	width: 40px;
	height: 17px;
	margin-right: 5px;
}
.feed a span {
	display: none;
}
/*DIV.resultsBar DIV.email {
	width: 120px;
}
DIV.resultsBar DIV.print {
	width: 85px;
}*/
DIV.noResults {
	clear: both;
	height: 380px;
	margin: 20px 0px;
	padding: 2px 10px;
}
DIV.resultsBar DIV.resultsFor {
	float: left;
	margin-right:2px;
	padding-top: 2px;
	width: 58%;
}
DIV.resultsBar DIV.print a, DIV.resultsBar DIV.email a, DIV.resultsBar DIV.export a{
	padding: 2px 3px 2px 25px !important;

}

Div.print li {
	margin: 10px;
}
Div.print .submit {
	margin: 0px 0px 10px 10px;
	text-align: left;
}

.showBox {
	margin-top: 0px;
}
.linkBox .showBox {
	margin-top: 30px;
	padding: 5px;
	width: 250px;
}

.linkBox .showBox li {
	margin-top: 5px;
	}

.record .arrowBox {
	margin-left: 40px;
	margin-top: 25px;
}
.emailBox .showBox {
	width: 270px;
	margin-left: -200px;
}

.emailBox form {
	margin: 5px;
}

.emailBox .formBox {
	float: left;
}
.emailBox .formBox.inputName, .emailBox .formBox.inputEmail {
	width: 130px;
}

.inputName .formEmail, .inputEmail .formEmail,
.inputName span, .inputEmail span{
	width: 120px;
	float: left;
}
.inputButton {
	margin: 10px;
	float: right !important;
}
.formEmail {
	width: 250px;
}

.inputMessage .formEmail {
	height: 60px;
	margin-bottom: 10px;
}
.printBox.boxContent {
	position: absolute;
	*margin-top: 15px;
	margin-left: -170px;
}
.printBox .arrowBox {
	margin-left: 200px;
}
.emailBox .arrowBox {
	margin-left: 30px;
}
DIV.resultsBar DIV.feed {
	float: left;
}
.bosContent {
	float: none;
}
DIV.resultsBar DIV.feed A,
DIV.resultsBar DIV.export A,
DIV.resultsBar DIV.email A,
DIV.resultsBar DIV.print A {
	display: -moz-inline-box;
	display: inline-block;
	padding: 1px;
	vertical-align: middle;
}
#bookmark_button {
	float: left;
	font-size: larger;
	text-align: right;
	width: 20%;
}
#bookmark_button img{
	cursor: pointer;
}
DIV.results {
	clear: both;
}
DIV.results DIV.resultServices {
	float: left;
	margin-right: 6px;
	width: 230px;
}

DIV.results DIV.resultServices DIV {
	margin-bottom: 2px;
}
DIV.resultServices DIV.refineSearch UL {
	margin: 0px 0px 0px 16px;
	padding: 0px;
}
DIV.resultServices DIV.refineSearch UL LI {
	margin: 3px 0px;
}
DIV.resultServices DIV.refineSearch H4 {
	float: none;
	clear: both;
	height: 100%;
}
.resultServices #searchHistory H4 a, .resultServices #yourSelection H4 a {
	padding-top: 7px;
}
DIV.resultServices DIV.refineSearch DIV.collapseAll,
DIV.resultServices DIV.refineSearch DIV.expandAll{
	float: left;
	margin: 0px 0px 8px 0px;
	padding: 0px;
	width: 48%;
}
DIV.resultServices DIV.refineSearch DIV.expandAll{
	padding: 0px;
}
DIV.resultServices DIV.refineSearch DIV.bContent {
	clear: both;
}
DIV.resultServices DIV.yourSelection P {
	margin: 0px;
}
DIV.resultServices DIV.yourSelection P IMG {
	vertical-align: middle;
}
DIV.resultServices DIV.yourSelection UL LI {
	margin: 8px 0px 4px 10px;
}
DIV.boxContent {
	width: 230px;
	float: none;
}
.showBox {
	position: absolute;
	margin-top: 6px;
	width: 100%;
	width: 230px;
}
.arrowBox {
	width: 16px;
	height: 7px;
	float: left;
	position: absolute;
	margin-left: 107px;
	background: url(../image/common/bg_box.gif) top center no-repeat;
}
#searchHistoryList.showBox , .yourSelection .showBox {
	margin-top: 6px;
	position: absolute;
}
DIV.resultServices DIV.searchHistory UL {
	margin: 0px;
	padding: 0px;
	clear: both;
}
DIV.resultServices DIV.searchHistory UL LI {
	padding: 1px;
	clear: both;
	position: relative;
}
DIV.resultServices DIV.searchHistory UL LI A {
	display: block;
	width: 70%;
	padding: 3px 7px
}
DIV.resultServices DIV.searchHistory UL LI A.addExpr,
DIV.resultServices DIV.searchHistory UL LI A.remExpr {
	position: absolute;
	top: 3px;
	right: 5px;
	width: 15px;
	padding: 3px 0px;
}
DIV.resultServices DIV.searchHistory UL LI A.remExpr{
	right: 24px;
}
DIV.resultServices DIV.mailSend DIV.bContent {
	padding: 9px;
}
DIV.resultServices DIV.mailSend DIV.bContent DIV {
	padding: 0px 0px 10px 0px;
}
DIV.resultServices DIV.mailSend DIV.bContent P.disabled{
	display: none;
}
DIV.resultServices DIV.mailSend DIV.bContent FORM.disabled P.disabled{
	display: block
}
DIV.resultServices DIV.mailSend DIV.bContent FORM.disabled P.message{
	display: none;
}
DIV.resultServices DIV.mailSend DIV.bContent DIV LABEL {
	display: block;
}
DIV.resultServices DIV.mailSend INPUT.inputText {
	width: 148px;
	padding: 4px;
}
DIV.resultServices DIV.mailSend INPUT.submit {
	padding: 6px 6px;
	*padding: 6px 3px;
	_padding: 6px 3px;
	float: left;
}
DIV.results DIV.resultServices DIV H4 {
	padding-left: 10px;
	margin: 0px;
}
DIV.results DIV.resultServices DIV H4 A {
	display: block;
	padding: 6px 10px;
}
DIV.results DIV.resultServices DIV DIV, .boxContent {
	padding: 0px;
}
DIV.results DIV.resultServices DIV.closed DIV {
	display: none;
}
DIV.results DIV.resultSet {
	margin: 0px 0px 0px 231px;*/
	/*IE Hacks*/
	*float: left;
	*margin: 0px 0px 0px 2px;*/
}
DIV.resultSet DIV.infoBar {
	padding: 6px 10px;
	height: 18px;
	margin-bottom: 1px;
	clear: right;
	*clear: none;
	_clear: none;
}
.totalResults {
	width: 29%;
	float: left;
}
.pagination {
	width: 70%;
	float: right;
	text-align: right;
}
DIV.resultSet DIV.infoBar DIV.pagination SPAN {
	//margin-left: 14px;
	margin-left: 6px;
}

DIV.resultSet DIV.record {
	padding: 6px 10px 6px 4px;
	margin-top: 2px;
	margin-bottom: 4px;
	min-height: 90px;
	height: auto;
	/*float: right;*/
	*float: none;
	_float: none;
	_height: 100px;
	clear: right;
}
DIV.resultSet DIV.record DIV.user-actions {
	height: 22px;
	margin: 0px 0px 0px 44px;
}
DIV.user-actions DIV{
	margin: 0px 10px 0px 0px;
	float: left;
}
DIV.user-actions DIV.bookmark IMG{
	margin-top: 6px;
}
DIV.user-actions DIV.text_abstract SPAN{
	margin-right: 20px;
}
DIV.record DIV.position {
	float: left;
	width: 24px;
}
DIV.record DIV.data {
	margin: 0px 0px 0px 44px;
}
DIV.record DIV.data H3 {
	margin: 0px;
}
DIV.record DIV.data DIV {
	margin-left: 0px;
}
DIV.record DIV.data DIV.tags A {
	padding: 2px;
	margin-right: 6px;
}
DIV.record DIV.data DIV.tags A.more {
	padding: 0px;
	margin: 0px;
}
DIV.record DIV.data DIV.links{
	margin-top: 2px;
}
DIV.record DIV.data DIV.links UL {
	padding: 0px;
	margin: 0px;
}
DIV.record DIV.data DIV.links LI {
	padding-top: 2px;
}
DIV.record DIV.services {
	width: 160px;
	float: right;
	text-align: right;
}
DIV.record DIV.services DIV {
	padding: 4px;
	padding-right: 20px;
}
DIV.footer {
	clear: both;
	padding: 10px 12px;
	margin-top: 7px;
	height: 15px;
}
DIV.footer DIV.powered {
	width: 50%;
	float: left;
}
DIV.footer DIV.links {
	width: 30%;
	float: right;
	text-align: right;
}
DIV.source SPAN.type span{
	padding: 0px 50px 0px 2px;
}
DIV.source SPAN.type IMG {
	margin-bottom: -3px;
}
FORM SPAN.transmission {
	display: block;
	padding: 7px 8px;
	margin-left: 8px;
	float: left;
}
#refine_facet div strong {
	padding-left: 15px;
}
#refine_facet div{
	padding: 0px;
}
DIV.resultServices DIV.searchHistory DIV.popup {
	padding: 0px;
}
DIV.resultServices DIV.searchHistory DIV.popup H4 IMG {
	position:absolute;
	right:4px;
	top:3px;
}
DIV.popup {
	position: absolute;
	height: auto;
	width: 100px;
}
DIV.resultServices DIV.searchHistory DIV.popup UL LI {
	padding-left: 10px;
}
DIV.resultServices DIV.searchHistory DIV.altpopup{
	width: auto;
	padding: 5px 5px 5px 20px;
}
.resultOptions {
	margin-left: 236px;
}
.yourSelectionCheck {
	float: left;
	margin: 3px;
}
.refineSearch {
	padding-top: 8px;
}
DIV.resultServices DIV.refineSearch UL LI.more{
	margin-right: 10px;
}
DIV.resultServices DIV.searchHistory UL LI A/*.addExpr*/ IMG {
	height: 14px;
	width: 15px;
}
DIV.record DIV.data DIV.database SPAN{
    margin-left: 8px;
}
#refine_facet div.closed ul {
	display: none;
}
.selectAll input {
	padding-left: 10px;
	width: 118px;
	margin-top: 2px;
}
.clearAll input {
	padding-left: 10px;
	width: 130px;
	margin-top: 2px;
}

